.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-style: solid;
}

.nav-bar ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    background-color: #333;
    color: #fff;

}

.nav-bar li {
    float: left;
    display: inline-flex;
    padding: 8px;
}

.nav-bar a {
    display: block;
    padding: 8px;
    color: #fff;
    background-color: #333;
}

.parking-lot {
    text-align: center;
}

.parking-lot .space {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.parking-lot .space.occupied {
    background-color: #ffcccc;
}

.parking-lot .space.available {
    background-color: #ccffcc;
}
/* CSS for Login */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  .input-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  .show-password {
    font-size: 12px;
    cursor: pointer;
    color: #007BFF;
  }
  .form-actions {
    text-align: center;
  }
  .form-actions button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .forgot-password-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #007BFF;
  }
  .error-message {
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 14px;
  }